.gradeList {
	width: 40%;
	float: left;
	border: 1px solid green;
	padding: 10px;
    margin: 15px;
}

.gradeAverage {
	width: 40%;
	float: left;
	border: 1px solid blue;
	padding: 10px;
    margin: 15px;
}

label, input, span, button {
	font-size: 25px;
}